    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-white">
                <div class="card-header">
                    <h4>Who are We</h4>
                </div>
                <div class="card-body text-center">
                    
                    

                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card bg-white">
                <div class="card-header">
                    <h4>What do we do</h4>
                </div>
                <div class="card-body text-center">
                    
                   

                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card bg-white">
                <div class="card-header">
                    <h4>How to reach to us</h4>
                </div>
                <div class="card-body text-center">
                    
                   

                </div>
            </div>
        </div>
    </div>



