<div class="row">
  <div class="col-md-4 mb-3">
    <div class="input-group">
      <input type="text" class="form-control" 
        [(ngModel)]="searchValue" 
        [ngModelOptions]="{standalone: true}"
        (keyup)="searchByName(searchValue)"
        placeholder="Search by name...">
      <div class="input-group-append">
        <span class="input-group-text">
          <ion-icon class="icon" name="search"></ion-icon>
        </span>
      </div>
    </div>
  </div>
</div>

    <div class="row">
      <div *ngFor="let item of (items | async)" class="col-md-4 col-sm-4 my-2">
          <div class="card">
              <div class="card-body">
                  <img [src]="item.image" alt="{{ item.name }}"/>
                  <h5 class="mb-1">{{item.name}} {{item.surname}}</h5>
              </div>
              <div class="card-footer bg-white d-flex justify-content-between">
                    <button class="btn btn-outline-primary" (click)="editDetails(item.id)" type="button" *ngIf="afAuth.user | async as user;">
                        Edit 
                    </button>
                    <button class="btn btn-outline-primary" (click)="viewDetails(item.id)" type="button">
                        Read<ion-icon name="arrow-round-forward"></ion-icon>
                    </button>
              </div>
          </div>
      </div>
    </div>
